---
layout : layouts/default.njk
title: First Page
---

<a href = "../Jobs/Softeng" class="text-decoration-none text-reset">
<div class="card border-info mb-3" style="max-width: 30rem;">
  
  <div class="card-body">
    <h5 class="card-title">Software Engineer</h5>
    <p class="card-text">Ajax Ontario</p>
    <ul>
        <li>Design, develop, test, and deploy software solutions based on business requirements.</li>
        <li>Collaborate with product managers, designers, and other engineers to deliver high-quality software.</li>
        <li>Write clean, maintainable, and efficient code following best practices.</li>
    </ul>    
  </div>
</div>
<br>

<a href = "../Jobs/Scaffolder" class="text-decoration-none text-reset">
<div class="card border-info mb-3" style="max-width: 30rem;">
  
  <div class="card-body">
    <h5 class="card-title">Scaffolder</h5>
    <p class="card-text">Whitby Ontario</p>
    <ul>
        <li>Assemble and dismantle scaffolding structures in accordance with industry safety standards.</li>
        <li>Inspect scaffolding for stability and security before use.</li>
        <li>Ensure scaffolding materials are transported and stored properly.</li>
    </ul>    
  </div>
</div>
<br>

<a href = "../Jobs/Trader" class="text-decoration-none text-reset">
<div class="card border-info mb-3" style="max-width: 30rem;">
  
  <div class="card-body">
    <h5 class="card-title">Institutional Trader</h5>
    <p class="card-text">Toronto Ontario</p>
    <ul>
        <li>Execute trades in financial markets, including stocks, bonds, currencies, and derivatives.</li>
        <li>Monitor market trends, economic data, and financial news to identify profitable opportunities.</li>
        <li>Analyze risk and implement strategies to mitigate potential losses.</li>
    </ul>    
  </div>
</div>

