---
layout: layouts/default.njk
title: Resume Page
---

<div class="centered-container">
  <button id="UploadButton" class="btn btn-dark mx-2">Upload Resume</button>
  <input type="file" id="pdfInput" accept="application/pdf" style="display:none;">
  <div id="pdfPreview"></div>
  <button class="btn btn-dark mx-2">Apply</button>
</div>
