.gradient-custom {
    /* fallback for old browsers */
  
    background: linear-gradient( rgba(123, 157, 156, .25) 35%, rgba(123, 157, 156, 0));
  }

  .card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 40rem; 
  }

.loginbutton{
  background: linear-gradient( rgba(123, 157, 156, .25) 35%, rgba(123, 157, 156, 0));
}