.gradient-custom {
  background: linear-gradient(to bottom, rgba(11, 130, 97, 0.8) 0%, rgba(11, 130, 97, 0.2) 100%);
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #3E2B2F;
}

.login-button {
  background: linear-gradient(to right, rgba(11, 130, 97, 1), rgba(11, 130, 97, 0.6));
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #3E2B2F;
}

.form-control {
  border: 2px solid #0B8261;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.card-body {
  padding: 20px;
}
